@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "kencss";
@import "particles";

$tablet: 861px;

$primary: #56478c;
$dark: #1f1f1f;
$scheme-main-bis: hsl(0, 0%, 98%);

$switch-focus: none;

$tooltip-background-color: $black;
$size-7: 1.2rem;

$navbar-breakpoint: 0;
// $modal-breakpoint: 0;
$modal-card-head-radius: 0px;
$modal-card-body-padding: 1rem;

$widescreen-enabled: false;
$fullhd-enabled: false;

$table-cell-border-width: 0;
$table-striped-row-even-background-color: hsl(0, 0%, 96.5%);

$navbar-item-hover-color: $primary;
$navbar-item-active-background-color: $primary !important;
$navbar-dropdown-item-active-background-color: $primary !important;
$navbar-item-active-color: $scheme-main-bis !important;
$navbar-dropdown-item-active-color: $scheme-main-bis !important;

$dropdown-content-arrow: $primary;
$navbar-dropdown-arrow: $primary;

$striped-color: rgba(0, 0, 0, 0.04);
$dark-striped-color: #e7e7e7;

$column-gap: 0.45rem;

$opensea: #2081E2;
$opensea-invert: findColorInvert($opensea);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$discord: #5865f2;
$discord-invert: findColorInvert($discord);
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
	"twitter": ($twitter,
		$twitter-invert,
	),
	"discord": ($discord,
		$discord-invert,
	),
	"opensea": ($opensea,
		$opensea-invert,
	),
);
$colors: map-merge($colors, $addColors);

a.navbar-item.is-active,
.dropdown-item.is-active {
	background-color: $navbar-item-active-background-color;
}

.page-container {
	padding-top: 40px;
	max-width: 1450px;
	margin: auto;
}

.hero-body {
	width: 100%;
	max-width: 1450px;
	margin: auto;
}

.hero.is-primary {
	background-color: #56478c;
	background-image: linear-gradient(to bottom, black -10%, transparent);
	color: #a8a8a8 !important;
}

.t-yellow {
	color: #f2a445;
}

.t-purple {
	color: #9886df !important;
}

.t-white {
	color: white;
}

.ta-c {
	text-align: center !important;
	text-align: -webkit-center !important;
}

.ta-l {
	text-align: left !important;
	text-align: -webkit-left !important;
}

.ta-r {
	text-align: right !important;
	text-align: -webkit-right !important;
}

.container-info {
	background-color: #026cbd;
	padding: 20px;
	border-radius: 10px;
}

.contributeInner {
	margin-top: 10px;
	margin-bottom: 10px;
}

.relative {
	position: relative;
}

.launchBtn *,
.launchBtn {
	font-size: 36px;
	font-weight: 400;
	padding: 20px 30px;
	margin-bottom: 20px;
	color: #fff;
	font-family: 'AveriaSerif-Regular', sans-serif;
}

.connectBtn {
	font-size: 18px;
	padding: 5px 20px;
	font-weight: 400;
	margin-right: 20px;
	color: #e2e2e2;
}

.bluegradientBtn {
	cursor: pointer;
	text-decoration: none;
	border-radius: 50px;
	border: none;
	position: relative;
	background: rgb(7, 136, 187);
	background-image: linear-gradient(45deg, black, transparent);
	-webkit-backface-visibility: hidden;
	box-shadow: 0px 5px 17px 0px black;
	z-index: 1;
	transition: 0.5s;
}

.bluegradientBtn:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
	text-shadow: 0px 8px 4px #000;
	color: white !important;
}

.bluegradientBtn:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	background-image: linear-gradient(135deg, rgb(7, 136, 187), black);
	transition: opacity 0.5s ease-out;
	z-index: 2;
	opacity: 0;
}

.bluegradientBtn:hover:after {
	opacity: 1;
}

.bluegradientBtn span {
	position: relative;
	z-index: 3;
}


.soon {
	padding: 2px 10px;
	background-color: #0bc2a6;
	color: black;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 600;
	position: absolute;
	bottom: -11px;
	right: -15px;
}

@import "~bulma/bulma.sass";
@import "~bulma-extensions/bulma-switch/src/sass/index.sass";
@import "~bulma-extensions/bulma-divider/src/sass/index.sass";
@import "~bulma-extensions/bulma-tooltip/src/sass/index.sass";
@import "style.scss";
@import "toast.scss";
@import "~bulma-multiselect/sass/multiselect";